.folderTab {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .box {
        transition: all 0.4s ease;
        width: 100%; 
        height: 100%;
        padding: 2rem;
    }
    /*hover effect */
    &:has(.hover1) {
        .boxColor2 {
            top: 60%;
        }
        .boxColor3 {
            top: 70%;
        }
        .boxColor4 {
            top: 80%;
        }
    }
    &:has(.hover2) {
        .boxColor2 {
            top: 10%;
        }
        .boxColor3 {
            top: 70%;
        }
        .boxColor4 {
            top: 85%;
        }
    }
    &:has(.hover3) {
        .boxColor2 {
            top: 10%;
        }
        .boxColor3 {
            top: 20%;
        }
        .boxColor4 {
            top: 80%;
        }
    }
    &:has(.hover4) {
        .boxColor2 {
            top: 10%;
        }
        .boxColor3 {
            top: 20%;
        }
        .boxColor4 {
            top: 30%;
        }
    }
}
.boxColor1 {
    @include position (
        $p : absolute,
        $l : 0,
        $t : 0%,
    );
    @include background (
        $bc : red,
    );
}
.boxColor2 {
    @include position (
        $p : absolute,
        $l : 0,
        $t : 15%,
    );
    @include background (
        $bc : blue,
    );
}
.boxColor3 {
    @include position (
        $p : absolute,
        $l : 0,
        $t : 30%,
    );
    @include background (
        $bc : gold,
    );
}
.boxColor4 {
    @include position (
        $p : absolute,
        $l : 0,
        $t : 45%,
    );
    @include background (
        $bc : green,
    );
}