.second-box {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    border: 1px solid gold;
    &-top01 {
        position: relative;
        overflow: hidden;
        &:hover {
            .bgImage,
            .txt-box {
                opacity: 1;
            }
        }
        .title {
            @include position ($p : absolute, $t : 10px, $l : 10px)
        }
        .bgImage {
            @include bgCover();
            @include background(
                $bi : $mainImage + 'info_bg-1.jpg',
                $bp : left center 
            )
        }
        .txt-box {
            position: absolute;
            @include poCenter;
            white-space: nowrap;
            color: $whiteff;
            opacity: 0;
            transition: all 0.3s;
            transition-delay: 0.2s;
        }
        @include mobile () {
            
        }
        width: calc(70% - 25px);
        height: calc(50vh - 15px);
        margin-right: 25px;
        margin-bottom: 15px;
    }
    &-top02 {
        position: relative;
        overflow: hidden;
        &:hover {
            .bgImage {
                transform: scale(1.2)
            }
        }
        .bgImage {
            @include bgCover;
            @include background (
                $bi : $mainImage +'location.png',
                $bp : center
            );
            opacity: 1;
        }
        width: 30%;
        height: calc(50vh - 15px);
        margin-bottom: 15px;
    }
    &-btm {
        @include mobile(){
            display: none;
        }
        width: 100%;
        height: calc(50vh);
        margin-top: 10px;
        border: 1px solid gold;
    }
}