/* pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* Onset */

.title {
    font-size: 7rem;
    font-weight: 500;
}
.semiTitle {
    font-size: 3rem;
}
.txt-box {
    font-size: 3rem;
}