.first-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2.5rem;
    @include mobile {
        flex: none;
        height: 500px;
    }
    &-top {
        display: flex;
        @include flexCenter;
        @include mobile(){
            display: none;
        }
        width: 100%;
        height: 30%;
    }
    &-btm {
        position: relative;
        overflow: hidden;
        &::after {
            @include bar;
        }
        &:hover {
            .bgImage {
                opacity: 0;
                pointer-events: none;
            }
        }
        .bgImage {
            z-index: 100;
            @include bgCover {
                @include background (
                    $bi : $mainImage + 'about-img.JPG',
                );
                opacity: 1;
                transition: all 1s;
            }
            @include mobile {
                display: none;
            }
        }
        .semiTitle {
            @include position (
                $p : absolute,
                $t : 30px,
                $l : 40px,
            );
        }
        width: 100%;
        height: 70%;
        @include mobile {
            height: 100%;
        }
    }
}
@import '../../scss/components/tab';
