.mainVideo {
    @include position (
        $p : absolute,
        $t : 0,
        $r : 0,
    );
    width: 50%;
    height: calc(100% - 10rem);
    @include mobile {
        position: static;
        margin-top: 30px;
        width: 100%;
        height: 50%;
    }
}
.video-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    video {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}